/*body {
  background-image: url(images/floral.jpg);
}*/

.background {
    position: relative;
    overflow: hidden;
}

.background img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

h1 {
  font-family: bromello; font-size: 85pt; text-align: center; color: #306C84;
}

h2 {
  font-family: bebas; text-align: center; font-size: 50pt;
}

.button {
    background-color: lavender;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: bebas;
}
